body {
    font-family: ink free;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #ffebcd;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ff69b4;
}

main {
    padding: 20px 0;
}

.greeting {
    margin-bottom: 20px;
}

.video {
    margin: 20px 0;
}

.gallery {
    margin: 20px 0;
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 

.photos img {
   margin: 0 auto;
   max-width: 100%;
    border: 2px solid #ff69b4;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Add a swinging effect */
@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

img.swing {
  animation: swing 2s infinite;
}

}

footer {
    background-color: #ffebcd;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}